.chat_container
  #chat_room
    %p.alert  Welcome to the chat room #{session[:username]}!
  %form#new_message_form
    %input#message{type: 'text', name: 'message'}
    %input{type: 'submit', value: 'Send'}
:javascript
  $(function() {
    client = new window.ChatClient({username: "#{j(session[:username])}"});
    client.handle_send();
    client.subscribe_public();
    client.subscribe_private();
  });
